/nbproject/private/
/PeliculasDB-war/nbproject/private/
/PeliculasDB-ejb/nbproject/private/
/PeliculasDB-ejb/build/
/build/
/PeliculasDB-war/build/
/PeliculasDB-ejb/dist/
/PeliculasDB-war/dist/